.StreamLine{

    -fx-font-size: 200%;
    -fx-background-color: #343738;
    -fx-text-fill:#98a1a6;


}
.button{

    -fx-background-color: #494c50;
    -fx-font-size: 175%;
    -fx-text-fill: #98a1a6;


}

.window{

    -fx-background-color: #343738;

}
